* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.box1 {
  color: white;
  background-color: #203f4a;
}

.box1-child {
  width: 60%;
  padding: 40px 0 40px 300px;
}

.box2-child {
  word-spacing: large;
  width: 70%;
  padding: 40px 0 40px 300px;
}
