@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --beige: #f3eed9;
  --brown: #f3eed9;
  --dark-green: #222c2a;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

/* CLASSES */

.container {
  max-width: 1128px;
}
