@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --beige: #f3eed9;
  --brown: #f3eed9;
  --dark-green: #222c2a;
}

.container {
  max-width: 1128px;
}
