@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --beige: #f3eed9;
  --brown: #824936;
  --dark-green: #222c2a;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 21px;
}

header {
  background-color: var(--beige);
  display: block;
}

section,
header {
  min-height: 660px;
  padding-top: 160px;
}

h1 {
  font-size: 60px;
  color: var(--brown);
  width: 70%;
}

h2 {
  font-size: 36px;
}

h1,
h2 {
  padding-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

p {
  word-spacing: 5px;
  line-height: 30px;
}

img {
  width: 100%;
  object-fit: contain;
}

/* CLASSES */
.header-box {
  flex-direction: column;
  text-align: center;
}

.container {
  max-width: 1128px;
  display: flex;
  gap: 50px;
  margin: 0 auto;
  align-items: center;
}

.brown-heading {
  color: var(--brown);
  text-align: center;
}

.green-box {
  color: var(--beige);
  background-color: var(--dark-green);
}

.brown-box {
  color: var(--beige);
  background-color: var(--brown);
}

.box {
  flex-basis: 50%;
}

.img {
  flex-basis: 50%;
}

.green-p {
  color: var(--dark-green);
}
