@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

/* font-family: "Montserrat", sans-serif; */
/* font-family: "Oswald", sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 90px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 24px;
}

:root {
  --black: #2e323f;
  --dark-grey: #3b4050;
  --grey: #6f737f;
  --white: #ffffff;
  --gold: #a59678;
  --light-grey: #f1f1f1;
}

ul {
  list-style-type: none;
  gap: 30px;
}

button {
  color: var(--white);
  background-color: var(--gold);
  border: none;
  border-radius: 40px;
}

p {
  word-spacing: 6px;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  object-fit: contain;
}

/* BOXES */
.box-20 {
  flex-basis: 20%;
}

.box-30 {
  flex-basis: 30%;
}

.box-40 {
  flex-basis: 40%;
}

.box-50 {
  flex-basis: 50%;
}

.box-60 {
  flex-basis: 60%;
}

.box-80 {
  flex-basis: 80%;
}

/* ClASSES */
.container {
  margin: 0 auto;
  max-width: 1200px;
}

.nav-section {
  font-size: 18px;
  color: var(--grey);
  background-color: var(--black);
  padding: 20px 0;
}

.nav-ul {
  align-items: center;
}

.nav-btn {
  padding: 10px 20px;
}

.landing-box {
  padding: 150px 0;
  background-color: var(--dark-grey);
  color: var(--white);
}

.big-p {
  font-size: 24px;
  font-weight: 400;
}

.box-p {
  align-items: center;
}

.landing-btn {
  padding: 20px 30px;
  font-size: 24px;
  margin-top: 20px;
  font-weight: 600;
}

.gold-text {
  color: var(--gold);
}

.landing-info {
  gap: 7%;
  text-align: center;
}

.box-30 h3 {
  color: var(--gold);
  font-size: 30px;
  margin-bottom: 15px;
}

.landing-section {
  font-size: 18px;
  background-color: var(--light-grey);
  padding: 80px 0;
}

.card-container {
  min-width: 30%;
  row-gap: 20px;
  flex-direction: column;
}

.card {
  background-color: var(--dark-grey);
  text-align: center;
  padding: 40px 0;
  color: white;
  justify-content: center;
}

.card h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

.hero-section {
  padding: 100px;
}

.card-info {
  width: 80%;
}

.flex {
  display: flex;
}

.hero-header h3 {
  color: var(--gold);
  font-size: 36px;
  margin-bottom: 20px;
}
.hero-box {
  font-size: 21px;
}

.hero-img {
  margin: 50px 0;
}

.footer {
  background-color: var(--dark-grey);
  padding: 100px;
}

.footer .container div h2 {
  font-size: 36px;
  color: var(--white);
  text-align: center;
  margin-bottom: 50px;
}

.footer-info h5 {
  font-size: 21px;
  color: var(--gold);
  margin-bottom: 25px;
}

.footer-info .box-40 p {
  width: 80%;
  font-size: 16px;
}

.footer-info {
  line-height: 20px;
  color: var(--grey);
}

.footer-info ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
}

/* MEDIA QUERY */
@media (max-width: 700px) {
  .flex {
    flex-direction: column;
  }
  * {
    text-align: center;
  }
  .margin-bottom {
    margin-bottom: 20px;
  }
  .card {
    padding: 20px 0;
  }
  .card-info {
    width: 90%;
    margin: 0 auto;
  }
  .footer-info h5 {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .footer-info .box-40 p {
    width: 100%;
  }
  .landing-p {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) and (min-width: 701px) {
  * {
    text-align: center;
  }
  .hero-box {
    flex-basis: 100%;
  }
  .hero-1000 {
    flex-direction: row;
  }
  .block {
    display: block;
  }
  .footer-info .box-40 p {
    width: 100%;
  }
  .card {
    column-gap: 20px;
    margin: 10px;
    padding: 20px 0;
  }
  .hero-section {
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }
  .card-info {
    width: 90%;
  }
}
