@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

/* font-family: "Montserrat", sans-serif; */
/* font-family: "Oswald", sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "Oswald", sans-serif;
  font-size: 90px;
  font-weight: 600;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

:root {
  --black: #2e323f;
  --dark-grey: #3b4050;
  --grey: #6f737f;
  --white: #ffffff;
  --gold: #a59678;
  --light-grey: #f1f1f1;
}

ul {
  list-style-type: none;
  gap: 30px;
}

button {
  color: var(--white);
  background-color: var(--gold);
  border: none;
  border-radius: 40px;
}

p {
  word-spacing: 8px;
}
img {
  width: 100%;
  object-fit: contain;
}

/* ClASSES */
.container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}

.nav-section {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--grey);
  background-color: var(--black);
  padding: 30px 0;
}

/* .nav-logo {
  flex-basis: 50%;
} */

.nav-ul {
  /* flex-basis: 50%; */
  display: flex;
  align-items: center;
}

.nav-btn {
  padding: 10px 20px;
}

.box-50 {
  flex-basis: 50%;
}

.landing-box {
  padding: 150px 0;
  background-color: var(--dark-grey);
  color: var(--white);
}

.big-p {
  font-size: 24px;
  font-weight: 400;
}

.box-p {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
}
.landing-btn {
  padding: 20px 30px;
  font-size: 24px;
  margin-top: 20px;
  font-weight: 600;
}

.gold-text {
  color: var(--gold);
}

.box-30 {
  flex-basis: 30%;
}

.landing-info {
  display: flex;
  gap: 7%;
  text-align: center;
}

.box-30 h3 {
  color: var(--gold);
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}

.landing-section {
  font-size: 18px;
  background-color: var(--light-grey);
  padding: 80px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

box-40 {
  flex-basis: 40%;
}
box-60 {
  flex-basis: 60%;
}

.card-container {
  row-gap: 20px;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: var(--grey);
  text-align: center;
  padding: 40px 0;
  color: white;
  display: flex;
  justify-content: center;
}

.card h4 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero-section {
  padding: 100px;
}

.card-info {
  width: 80%;
}
