* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1 {
  color: white;
  background-color: #23424a;
  padding: 15px;
}

.box1-child {
  width: 50%;
}

.box2 {
  background-color: #00ffff;
  padding: 20px;
}

.box2-child {
  background-color: #373747;
  padding: 100px;
}
